<div id="mainContent">
  <div id="aboutme">
    <div class="left">
      <img src="images/me.jpg" />
      <span class="email"><a href="mailto:dmacdougall@gmail.com">email me</a></span>
    </div>
    <div>
      <p>I'm a programmer living in Palo Alto, California.</p>
      <p>By day I design beautiful UI and APIs for <a href="http://www.ooyala.com">Ooyala</a>.</p>
      <p>By night I work on a number of other projects.</p>
    </div>
  </div>
  <div class="project">
    <h3><a href="http://getbarkeep.org">Barkeep</a></h3>
    <p>The friendly code review system.</p>
  </div>
  <div class="project">
    <h3><a href="https://github.com/dmac/fezzik">Fezzik</a></h3>
    <p>A lightweight deployment tool.</p>
  </div>
  <div class="project">
    <h3><a href="https://github.com/ooyala/panache">Panache</a></h3>
    <p>Templated code style checking.</p>
  </div>
  <div class="project">
    <h3><a href="https://github.com/dmac/spin">spin</a></h3>
    <p>Write RESTful web apps in Racket.</p>
  </div>
  <div class="project">
    <h3><a href="https://github.com/dmac/git-review">git-review</a></h3>
    <p>A command line code review tool for git.</p>
  </div>
  <div class="project">
    <h3><a href="https://github.com/dmac/markdown_doctor">markdown_doctor</a></h3>
    <p>An absurdly simple script for rendering markdown with github styles.</p>
  </div>
  <div class="project">
    <h3><a href="https://github.com/clint-tseng/odkbuild">odkbuild</a></h3>
    <p>Form builder for the <a href="http://opendatakit.org/">Open Data Kit</a> project.</p>
  </div>
  <div class="project">
    <h3><a href="http://addons.songbirdnest.com/addon/1879">MooDJ</a></h3>
    <p>A Songbird extension that creates playlists based on listening sessions.</p>
  </div>
</div>
