<html>
  <head>
    <title>Daniel MacDougall</title>
    <link rel="stylesheet" href="/main.css" type="text/css" />
    <script src="https://github.com/ooyala/livecss/raw/master/livecss.js"></script>
    <script type="text/javascript">
      // Simple image preloading
      var twitterBackground = new Image();
      var githubBackground = new Image();
      twitterBackground.src = "/images/twitter-hover.png";
      githubBackground.src = "/images/github-hover.png";
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12919440-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="mainTitleBackground">
      <div id="mainTitle">
        <h1><a href="/">Daniel MacDougall</a></h1>
        <div id="linkIcons">
          <a class="twitter icon" href="http://twitter.com/dmacdougall"></a>
          <a class="github icon" href="http://github.com/dmacdougall"></a>
        </div>
      </div>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
